/* Reset */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #a2c5f8, #9bb2db);
}

/* Container */
.container {
    background: rgb(84, 255, 161);
    padding: 30px;
    width: 550px;
    height: 325px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* Title */
.container h1 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Labels */
.container label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

/* Container spacing */
.container {
    padding: 40px 30px; /* more space inside */
}

/* Inputs spacing */
.container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 30px; /* space between username & password */
    border-radius: 8px;
    border: 1px solid #000000;
}

/* Button spacing */
.register {
    margin-top: 10px;
    margin-bottom: 15px; /* space below button */
    padding: 10px;
}

/* Login text spacing */
.login-text {
    margin-top: 10px;
    font-size: 14px;
}

.timeline {
    margin-top: 20px;
    position: relative;
    padding-left: 30px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    opacity: 0.4;
}

.step.active {
    opacity: 1;
}

.circle {
    width: 15px;
    height: 15px;
    background: #38bdf8;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 5px;
}

.content h4 {
    margin: 0;
}

.content p {
    margin: 0;
    font-size: 12px;
}